{% load staticfiles %}
{% load website_tags %}
{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <title>{% block title %} {{ task }} {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{% spaceless %}{{ SITE_NAME }} {% block extra_keywords %}{% endblock %}{% endspaceless %}" /> 
  <meta name="description" content="{{ SITE_DESCRIPTION }}" />
  <meta name="author" content="{{ SITE_AUTHORS }}">
  
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-responsive.min.css" %}" />
  
  <!-- for javascript charpicker, image zoomer, scroller, and formset adder -->
  <link rel="stylesheet" type="text/css" href="{% static "css/jquery.keypad.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "css/jquery.fs.zoomer.css" %}" />
  <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
  <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.keypad.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/charpicker.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.fs.zoomer.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery-scrolltofixed-min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.formset.min.js" %}"></script>
  <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
  <style>
  .zoomer_wrapper { border: 1px solid #ddd; border-radius: 3px; height: 500px; margin: 10px 0; overflow: hidden; width: 100%; }
  .add-row{ padding: 1em; }
  </style>

</head>
<body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{% url "index" %}">{{ SITE_NAME }} - {{ SITE_DESCRIPTION }}</a>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h1>Data Entry Task: {{ task }} {{ content }}</h1>
            </div>
            
            {% if task.file %}
                <div class="row clearfix">
                  <div class="span8 offset2 well">
                     <p>
                         Download Data File: 
                          <a class="btn" href="{{ task.file.url }}"><i class="icon-file"></i>{{ task.file }}</a>
                     </p>
                  </div>
                </div>
            {% endif %}
            
            <div id="scroller">
                {% if task.image %}
                    <div class="row clearfix">
                      <div class="span8 offset2 zoomer_wrapper zoomer" style="height: 300px;">
                        {% comment %}
                            <img class="img-polaroid" src="{{ task.image.url }}" alt="{{ task.image }}" />
                        {% endcomment %}
                      </div>
                    </div>
                {% endif %}
                
                <div class="row clearfix">
                    <p class="well well-small span8 offset2">
                        <span id="picker"></span>
                    </p>
                </div>
                
            </div>
            
            {% if form.non_field_errors %}
                <div class="alert alert-error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            
            {% comment %}
            <!-- admin tools -->
            <div class="span4 well">
                <a href="{% url "admin:core_language_add" %}" class="add-another" id="add_id_language" onclick="return showAddAnotherPopup(this);"> <img src="{% static "admin/img/icon_addlink.gif" %}" alt="Add New Language"/>Add New Language</a>
                <a href="{% url "admin:core_source_add" %}" class="add-another" id="add_id_source" onclick="return showAddAnotherPopup(this);"> <img src="{% static "admin/img/icon_addlink.gif" %}" alt="Add New Source"/>Add New Source</a>
                <a href="{% url "admin:lexicon_word_add" %}" class="add-another" id="add_id_word" onclick="return showAddAnotherPopup(this);"> <img src="{% static "admin/img/icon_addlink.gif" %}" alt="Add New Word"/>Add New Word</a>
            </div>
            {% endcomment %}
            
            {% include template %}
            
            <div class="row"></div>
        <div>
      </div><!--/row-->
    </div><!--/.fluid-container-->

    <script>
        $(document).ready(function() {
          $('.tip').tooltip();
          $('#scroller').scrollToFixed();
          {% if task.image %}
              $(".zoomer").zoomer({
                source: "{{ task.image.url }}",
                customClass: "img-polaroid",
                increment: 0.1
              });
              $(window).on("rubberband.enter", function() {
                $(".zoomer-element").zoomer("resize");
              });
          {% endif %}
          $('#entryform tbody tr').formset({
              addCssClass: 'btn btn-success',
              addText: '<i class="icon-plus"></i> Add entry',
              deleteText: '<i class="icon-remove"></i>',
          });
        });
    </script>
</body>
</html>