{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %} Active Data-Entry Tasks: {% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Data Entry Tasks:</h1>
    </div>
    
    {% if table %}
        {% render_table table "table.html" %}
    {% else %}
        <p class="error">No results found!</p>
    {% endif %}
    
    <div class="well">
        <p>Quick Entry</p>
        <form action="{% url "entry:quick" %}" method="post" class="form-inline">
            {% csrf_token %}
            {{ quickform }}
            <button type="submit" name="submit" class="btn"><i class="icon-ok"></i> Go </button>
        </form>
    </div>
    
{% endblock %}