{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load staticfiles %}
{% load cognacy_tags %}

{% block title %} Do Cognacy: {{ word }} {% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Do Cognacy: {{ word }}{% if clade %} (for {{ clade }}){% endif %}</h1>
    </div>
    
    <ul class="breadcrumb">
      <li>
          <a href="{% url "index" %}">Home</a> 
          <span class="divider">/</span>
      </li>
      <li>
          <a href="{% url "cognacy:index" %}">Cognacy</a> 
          <span class="divider">/</span>
      </li>
    </ul>
    
    <div class="well">
        <p>
            <strong>Cognate sets in-play:</strong>
            <ul>
                
            {% for cog, entries in inplay.items %}
                <li>
                    {% cognate_button cog.id %}
                    {% if cog.source %} {{ cog.source }} {% else %} TNG {% endif %}
                    : {{ entries }} 
                </li>
            {% endfor %}
            </ul>
            
        </p>
        <p><strong>Merge Cognate Sets: </strong>
        <form action="{% url "cognacy:merge" word=word.slug clade=clade %}" method="post" class="form-inline">
            {% csrf_token %}
            {{ mergeform.old }} -&raquo;
            {{ mergeform.new }}
            <button type="submit" class="btn">Merge</button>
        </form>
        
    </div>
    <div class="well">
        <p><strong>Next Cognate IDs:</strong> 
            {% for c in next_cognates %}
                <span> &nbsp; {% cognate_button c False %} &nbsp; </span>
            {% endfor %}
        </p>        
    </div>

    {% if messages %}
        <div class="well">
            <ul class="messages">
                {% for message in messages %}
                    <li>
                         <span class="label label-{{ message.tags }}">{{ message.tags }}.</span> {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    {% if user.is_staff %}
        <div class="btn-group">
            <button class="btn"><a href="{% url "word-detail" word.slug %}">View this word</a></button>
            <button class="btn"><a href="{% url "word-edit" word.slug %}">Edit this word</a></button>
            <button class="btn"><a href="{% url "word-alignment" word.slug %}">Show Alignment</a></button>
        </div>
    {% endif %}
    
    <form action="{% url "cognacy:save" word=word.slug clade=clade %}" method="post" class="form-inline">
        {% csrf_token %}
        {{ form.as_p }}
        
        {% render_table lexicon "table.html" %}
        <button type="submit" class="btn btn-large btn-primary pull-right">Save Changes</button>
    </form>
    
{% endblock %}