{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %} Languages: {% endblock %}

{% block content %}


    <div class="page-header">
        <h1>Languages:</h1>
    </div>

    <ul class="breadcrumb">
      <li>
          <a href="{% url "index" %}">Home</a> 
          <span class="divider">/</span>
      </li>
      <li class="active">
          <a href="{% url "language-index" %}">Languages</a>
      </li>
    </ul>
    
    {% if message %}
        <div class="alert">
            <p>{{ message }}</p>
        </div>
    {% endif %}
    
    {% if table %}
        {% render_table table "table.html" %}
    {% else %}
        <p class="error">No results found!</p>
    {% endif %}

{% endblock %}