{% extends "base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load pronoun_tags %}

{% block title %} Pronoun Paradigms: Editing {{ paradigm.id }} {% endblock %}

{% block head %}
    <!-- for javascript charpicker, and formset adder -->
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.keypad.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.keypad.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charpicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-scrolltofixed-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.formset.min.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
    <style>
    .add-row{ padding: 1em; }
    </style>
{% endblock %}


{% block content %}
    <div class="page-header">
        <h1>Pronoun Paradigms:</h1>
    </div>
    
    <ul class="breadcrumb">
      <li>
          <a href="{% url "index" %}">Home</a> 
          <span class="divider">/</span>
      </li>
      <li class="active">
          <a href="{% url "pronouns:index" %}">Pronoun Paradigms</a>
      </li>
      {% if paradigm.id %}
          <li class="active">
              <a href="{% url "pronouns:detail" paradigm.id %}">{{ language.language }}</a>
          </li>
      {% endif %}
    </ul>
    
    <h2> Edit Pronoun Paradigm: </h2>
    
    <div id="scroller">
        <div class="row clearfix">
            <p class="well well-small span8 offset2">
                <span id="picker"></span>
            </p>
        </div>
    </div>
    
    <form action="{% url "pronouns:edit" paradigm.id %}" method="post" class="form-inline">
    
        {% csrf_token %}
        
        <h3> Paradigm Details: </h3>
        
        <table id="paradigm_form" class="table table-bordered table-condensed">
            <thead>
                <tr>
                    {% for field in paradigm_form %}
                        <th> {{ field.label_tag }} </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for field in paradigm_form %}
                    <td {% if field.errors %}class="error"{% endif %}>
                        {{ field }}
                        {{ field|form_fielderror_hint }}
                    </td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
        
        <h3> Pronouns: </h3>
        
        <table id="pronoun_formset" class="table table-bordered table-condensed">
            {{ pronoun_formset.management_form }}
            
            {% for form in pronoun_formset %}
                {% if forloop.first %}
                    <thead>
                        <tr>
                        {% for field in form %}
                            <th> {{ field.label_tag }} </th>
                        {% endfor %}
                        </tr>
                    </thead>
                {% endif %}
                <tbody>
                    <tr>
                    {% for field in form %}
                        <td {% if field.errors %}class="error"{% endif %}>
                            {{ field }}
                            {{ field|form_fielderror_hint }}
                        </td>
                    {% endfor %}
                    </tr>
                </tbody>
            {% endfor %}
        </table>
        
        
        <h3> Relationships: </h3>
        
        <table id="relationship_formset" class="table table-bordered table-condensed">
            <!-- header -->
            {{ relationship_formset.management_form }}
            
            {% for form in relationship_formset %}
                {% if forloop.first %}
                    <thead>
                        <tr>
                            {% for field in form %}
                                <th> {{ field.label_tag }} </th>
                            {% endfor %}
                        </tr>
                    </thead>
                {% endif %}
            {% endfor %}
            <tbody>
                {% for form in relationship_formset %}
                    <tr>
                        {% for field in form %}
                            <td {% if field.errors %}class="error"{% endif %}>
                                {{ field }}
                                {{ field|form_fielderror_hint }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <button type="submit" class="btn btn-block btn-primary"><i class="icon-ok"></i> Save Paradigm </button>
    </form>
    
    
    
    
{% endblock %}



{% block end %}
    <script>
        $(document).ready(function() {
          $('.tip').tooltip();
          $('#scroller').scrollToFixed();
          $('#relationship_formset tbody tr').formset({
              addCssClass: 'btn btn-success',
              addText: '<i class="icon-plus"></i> Add entry',
              deleteText: '<i class="icon-remove"></i>',
              prefix: '{{ relationship_formset.prefix }}',
              formCssClass: 'dynamic-formset-rel'
              
          });
          $('#pronoun_formset tbody tr').formset({
              addCssClass: 'btn btn-success',
              addText: '<i class="icon-plus"></i> Add entry',
              deleteText: '<i class="icon-remove"></i>',
              prefix: '{{ pronoun_formset.prefix }}',
              formCssClass: 'dynamic-formset-pron'
          });
        });
    </script>
{% endblock %}
