{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% block title %} Pronoun Paradigms: Editing {{ paradigm.id }} {% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Pronoun Paradigms: Editing {{ language.language }}</h1>
    </div>
    
    <ul class="breadcrumb">
      <li>
          <a href="{% url "index" %}">Home</a> 
          <span class="divider">/</span>
      </li>
      <li class="active">
          <a href="{% url "pronouns:index" %}">Pronoun Paradigms</a>
      </li>
      <li class="active">
          <a href="{% url "pronouns:detail" paradigm.id %}">{{ language.language }}</a>
      </li>
    </ul>
    
    <h2> Paradigm: </h2>
    
    {% if lexicon %}
        {% render_table lexicon "table.html" %}
    {% else %}
        <p class="error">No results found!</p>
    {% endif %}
    
    <h2> Relationships: </h2>
    
    ...
    
{% endblock %}