{% extends "base.html" %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load pronoun_tags %}

{% block title %} Pronoun Paradigms: Editing {{ paradigm.id }} {% endblock %}

{% block head %}
    <!-- for javascript charpicker, and formset adder -->
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.keypad.css" %}" />
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.formset.min.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
    <style>
    .add-row{ padding: 1em; }
    .hide {display: none;}
    </style>
{% endblock %}


{% block content %}
    <div class="page-header">
        <h1>Pronoun Paradigms:</h1>
    </div>
    
    <ul class="breadcrumb">
      <li>
          <a href="{% url "index" %}">Home</a> 
          <span class="divider">/</span>
      </li>
      <li class="active">
          <a href="{% url "pronouns:index" %}">Pronoun Paradigms</a>
      </li>
      {% if paradigm.id %}
          <li class="active">
              <a href="{% url "pronouns:detail" paradigm.id %}">{{ language.language }}</a>
          </li>
      {% endif %}
    </ul>
    
    <h2> Pronoun Paradigm: </h2>
    
        {% include "pronouns/template_pronoun_detail.html" %}
        
    <!-- APPLIED RULES LIST -->
    <h3>Applied Rules:</h3>

    <!-- RULE SECTION -->
    <a href="#" class="btn" onclick="$('#rule_table').toggle('100')" ><i class="icon-wrench"></i> Rules </a>
    <div id="rule_table" class="hide">
        
        <h3> Set Rules: </h3>
        
        <!-- RULE TABLE -->
        <form action="{% url "pronouns:process_rule" paradigm.id %}" method="post" class="form-inline">
            {% csrf_token %}
            <table id="rule" class="table table-bordered table-condensed">
                <thead>
                    <th> </th>
                    <th> Person </th>
                    <th> Number </th>
                    <th> Gender </th>
                    <th> Alignment </th>
                </thead>
                <tbody>
                    <tr>
                        <th> Set These: </th>
                        <td> {{ rule_form.person_one }} </td>
                        <td> {{ rule_form.number_one }} </td>
                        <td> {{ rule_form.gender_one }} </td>
                        <td> {{ rule_form.alignment_one }} </td>
                    </tr>
                    <tr>
                        <th> To Be: </th>
                        <td colspan="4"> {{ rule_form.relationship }} </td>
                    </tr>
                    <tr>
                        <th> To These: </th>
                        <td> {{ rule_form.person_two }} </td>
                        <td> {{ rule_form.number_two }} </td>
                        <td> {{ rule_form.gender_two }} </td>
                        <td> {{ rule_form.alignment_two }} </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <button type="submit" class="btn btn-primary" name="process_rule">
                                <i class="icon-ok"></i>
                                Process Rule.
                            </button>
                            <button type="submit" class="btn btn-primary" name="process_identicals">
                                <i class="icon-wrench"></i>
                                Automatically Group Identical Entries.
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <!-- END RULE TABLE -->
    </div> 
    
    <ul>
    {% if applied_rules %}
            {% for rule in applied_rules %}
                <li>{{ rule.rule }}</li>
            {% endfor %}
    {% else %}
        <li>Nothing yet.</li>
    {% endif %}
    </ul>
    
    <!-- END APPLIED RULES LIST -->

    <h3> Relationships: </h3>
    
    <!-- RELATIONSHIPS TABLE -->
    <form action="{% url "pronouns:edit_relationships" paradigm.id %}" method="post" class="form-inline">
        {% csrf_token %}
        {{ relationships.management_form }}
        
        <table id="relationship_formset" class="table table-bordered table-condensed">
            
            {% for form in relationships %}
                {% if forloop.first %}
                    <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                                <th> {{ field.label_tag }} </th>
                            {% endfor %}
                        </tr>
                    </thead>
                {% endif %}
            {% endfor %}
            <tbody>
                {% for form in relationships %}
                <tr>
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <td {% if field.errors %}class="error"{% endif %}>
                            {{ field }}
                            {{ field|form_fielderror_hint }}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <button type="submit" class="btn btn-block btn-primary"><i class="icon-ok"></i> Save Relationships </button>
    </form>

{% endblock %}



{% block end %}
    <script>
        $(document).ready(function() {
          $('.tip').tooltip();
          $('#relationship_formset tbody tr').formset({
              addCssClass: 'btn btn-success',
              addText: '<i class="icon-plus"></i> Add Relationship',
              deleteText: '<i class="icon-remove"></i>',
          });
        });
    </script>
{% endblock %}
