{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}
{% load render_table from django_tables2 %}
{% load website_tags %}
{% load pronoun_tags %}

{% block title %} Pronoun Paradigms: Editing {{ paradigm.id }} {% endblock %}

{% block head %}
    <!-- for javascript charpicker, and formset adder -->
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.keypad.css" %}" />
    
    <style>
    .add-row{ padding: 1em; }
    .hide {display: none;}
    </style>

    {% compress js %}
        <!-- for javascript charpicker, and formset adder -->
        <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
        <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.keypad.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.formset.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/charpicker.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery-scrolltofixed-min.js" %}"></script>
    {% endcompress %}
{% endblock %}


{% block content %}
    <div class="page-header">
        <h1>Pronoun Paradigm: {{ paradigm.id }}</h1>
    </div>

    <h2>
        <strong>Language: </strong> {{ paradigm.language }}
    </h2>
    
    <div id="scroller">
        <div class="row clearfix">
            <p class="well well-small span8 offset2">
                <span id="picker"></span>
            </p>
        </div>
    </div>
    
    <h3> Pronouns: </h3>

    <form action="{% url "pronouns:edit" paradigm.id %}" method="post" class="form-inline">
        {% csrf_token %}
        {{ paradigm_form.management_form }}
        
        <p> 
            <span class="span2"> Last Edited:</span>
            {{ paradigm.added|date:"r" }} by {{ paradigm.editor|title }}.
        </p>
        {% if paradigm_form.non_field_errors %}
            <i class="tip icon-exclamation-sign" 
                data-toggle="tooltip" 
                data-placement="top" 
                data-container="td"
                title="
                {% for error in paradigm_form.non_field_errors %}
                    {{ error|escape }} 
                {% endfor %}">
            </i>
        {% endif %}
        <p>
            <span class="span2">{{ paradigm_form.language.label }}:</span>
            {{ paradigm_form.language }} 
            {% if paradigm_form.language.errors %}
                <i class="tip icon-exclamation-sign" 
                    data-toggle="tooltip" 
                    data-placement="top" 
                    data-container="td"
                    title="
                    {% for error in paradigm_form.language.errors %}
                        {{ error|escape }} 
                    {% endfor %}">
                </i>
            {% endif %}
        </p>
        <p>
            <span class="span2">{{ paradigm_form.label.label }}:</span>
            {{ paradigm_form.label }} 
            {% if paradigm_form.label.errors %}
                <i class="tip icon-exclamation-sign" 
                    data-toggle="tooltip" 
                    data-placement="top" 
                    data-container="td"
                    title="
                    {% for error in paradigm_form.label.errors %}
                        {{ error|escape }} 
                    {% endfor %}">
                </i>
            {% endif %}
        </p>
        <p>
            <span class="span2">{{ paradigm_form.source.label }}:</span>
                {{ paradigm_form.source }}
                {% if paradigm_form.source.errors %}
                    <i class="tip icon-exclamation-sign" 
                        data-toggle="tooltip" 
                        data-placement="top" 
                        data-container="td"
                        title="
                        {% for error in paradigm_form.source.errors %}
                            {{ error|escape }} 
                        {% endfor %}">
                    </i>
                {% endif %}
         </p>
        <p>
            <span class="span2">{{ paradigm_form.analect.label }}:</span>
                 {{ paradigm_form.analect }} 
                 {% if paradigm_form.analect.errors %}
                     <i class="tip icon-exclamation-sign" 
                         data-toggle="tooltip" 
                         data-placement="top" 
                         data-container="td"
                         title="
                         {% for error in paradigm_form.analect.errors %}
                             {{ error|escape }} 
                         {% endfor %}">
                     </i>
                 {% endif %}
        </p>
        <p>
            <span class="span2">{{ paradigm_form.comment.label }}:</span>
                 {{ paradigm_form.comment }} 
                 {% if paradigm_form.comment.errors %}
                     <i class="tip icon-exclamation-sign" 
                         data-toggle="tooltip" 
                         data-placement="top" 
                         data-container="td"
                         title="
                         {% for error in paradigm_form.comment.errors %}
                             {{ error|escape }} 
                         {% endfor %}">
                     </i>
                 {% endif %}
        </p>
        
        <div class="well{% ifequal paradigm.analect "F" %} hide{% endifequal %}" id="info_bound"> 
            <h3>Guidelines for entering <strong>bound pronoun</strong> data</h3>
            
            <p>1. Choose maximally informative verb / TAM (i.e. the one with 
                the most distinctions)
            </p>
            
            <p>2. For variant forms (e.g. na- vs n-) choose maximal forms 
                from which other(s) can be derived, e.g. na- rather than n-
            </p>
            
            <p>3. Don’t need to fill all cells (this will help us measure 
                information content of agreement system). If no form, use 
                zero (i.e. 0, symbol for numeral zero; not ø)
            </p>
            
            <p>NOTE. that this is the opposite policy to what we are doing
                with the free pronoun paradigms, where each cell will be filled
                with whatever form would be used to express that category, e.g.
                if there is no 3rd dual and it would be expressed by 3rd plural,
                the 3rd plural form should be filled in to the 3rd dual cell.
            </p>
        </div>
            
        <div class="well{% ifequal paradigm.analect "B" %} hide{% endifequal %}" id="info_free"> 
            <h3>Guidelines for entering <strong>free pronoun</strong> cells</h3>
            
            <p>1. fill all cells even if this means being forced into
                including a bound form, e.g. –ku for 1sg poss. in some
                Austronesian languages.
            </p>
            
            <p>2. However, if there is a free form (even if rare), use this 
                instead of a bound form
            </p>
        </div>
        
        <table id="pronouns" class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <td>&nbsp;</td>
                    <th>A</th>
                    <th>S</th>
                    <th>O</th>
                    <th>Poss.</th>
                </tr>
            </thead>
            <tbody>
                {% for row, formset in pronouns %}
                    <!-- ROW -->
                    <tr>
                        <th>{{ row }}</th>
                        <td class="alignment_a df-{{ formset.A.prefix}}">
                            {{ formset.A.management_form }}
                            {% for form in formset.A %}
                                {% include "pronouns/pronoun_form.html" with form=form %}
                            {% endfor %}
                        </td>
                        <td class="alignment_s df-{{ formset.S.prefix}}">
                            {{ formset.S.management_form }}
                            {% for form in formset.S %}
                                {% include "pronouns/pronoun_form.html" with form=form %}
                            {% endfor %}
                        </td>
                        <td class="alignment_o df-{{ formset.O.prefix}}">
                            {{ formset.O.management_form }}
                            {% for form in formset.O %}
                                {% include "pronouns/pronoun_form.html" with form=form %}
                            {% endfor %}
                        </td>
                        <td class="alignment_p df-{{ formset.P.prefix}}">
                            {{ formset.P.management_form }}
                            {% for form in formset.P %}
                                {% include "pronouns/pronoun_form.html" with form=form %}
                            {% endfor %}
                        </td>
                    </tr>
                    <!-- ENDROW -->
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-block btn-primary"><i class="icon-ok"></i> Save Paradigm </button>
    </form>
{% endblock %}



{% block end %}
    <script>
        $(document).ready(function() {
          $('.tip').tooltip();
          $('#scroller').scrollToFixed();
          
          {% comment %}
          
          THIS DOES NOT WORK - IGNORE IT FOR NOW...
          
          {% for row, formset in pronouns %}
              $('.df-{{ formset.A.prefix}} p').formset({
                  prefix: '{{ formset.A.prefix }}',
                  formCssClass: 'df-{{ formset.A.prefix }}',
                  addText: '<i class="icon-plus"></i>',
                  deleteText: '<i class="icon-remove"></i>',
              });
              $('.df-{{ formset.S.prefix}} p').formset({
                  prefix: '{{ formset.S.prefix }}',
                  formCssClass: 'df-{{ formset.S.prefix }}',
                  addText: '<i class="icon-plus"></i>',
                  deleteText: '<i class="icon-remove"></i>',
              });
              $('.df-{{ formset.O.prefix}} p').formset({
                  prefix: '{{ formset.O.prefix }}',
                  formCssClass: 'df-{{ formset.O.prefix }}',
                  addText: '<i class="icon-plus"></i>',
                  deleteText: '<i class="icon-remove"></i>',
              });
              $('.df-{{ formset.P.prefix}} p').formset({
                  prefix: '{{ formset.P.prefix }}',
                  formCssClass: 'df-{{ formset.P.prefix }}',
                  addText: '<i class="icon-plus"></i>',
                  deleteText: '<i class="icon-remove"></i>',
              });
          {% endfor %}
          
          {% endcomment %}
          var analect = jQuery('#id_pdm-analect');
          var select = this.value;
          analect.change(function () {
              $('#info_free').show();
              $('#info_bound').show();
              if ($(this).val() == 'F') {
                  $('#info_bound').hide();
              }
              else if ($(this).val() == 'B') {
                  $('#info_free').hide();
              }
              else {
                  $('#info_free').show();
                  $('#info_bound').show();
              }
          });    
        });
        </script>
{% endblock %}
