<table id="pronouns" class="table table-bordered table-condensed">
    <thead>
        <tr>
            <td>&nbsp;</td>
            <th>A</th>
            <th>S</th>
            <th>O</th>
            <th>Poss.</th>
        </tr>
    </thead>
    <tbody>
        {% for row, cells in pronoun_rows %}
        <!-- ROW -->
            <tr>
                <th>{{ row }}</th>
                <td class="alignment_a">
                    {% for e in cells.A.entries.all %}
                        {% if not forloop.first %}, {% endif %} {{ e.entry }}
                    {% endfor %}
                </td>
                <td class="alignment_s">
                    {% for e in cells.S.entries.all %}
                        {% if not forloop.first %}, {% endif %} {{ e.entry }}
                    {% endfor %}
                </td>
                <td class="alignment_o">
                    {% for e in cells.O.entries.all %}
                        {% if not forloop.first %}, {% endif %} {{ e.entry }}
                    {% endfor %}
                </td>
                <td class="alignment_p">
                    {% for e in cells.P.entries.all %}
                        {% if not forloop.first %}, {% endif %} {{ e.entry }}
                    {% endfor %}
                </td>
            </tr>
            <!-- ENDROW -->
        {% endfor %}
    </tbody>
</table>
