<table id="pronouns" class="table table-bordered table-condensed">
    <thead>
        <tr>
            <td>&nbsp;</td>
            <th>A</th>
            <th>S</th>
            <th>O</th>
            <th>Poss.</th>
        </tr>
    </thead>
    <tbody>
        {% for row, cells in pronoun_rows %}
        <!-- ROW -->
            <tr>
                <th>{{ row }}</th>
                <td class="alignment_a">
                    {{ cells.A.form }}
                </td>
                <td class="alignment_s">
                    {{ cells.S.form }}
                </td>
                <td class="alignment_o"  style="background: #9cf;">
                    {{ cells.O.form }}
                </td>
                <td class="alignment_p">
                    {{ cells.P.form }}
                </td>
            </tr>
            <!-- ENDROW -->
        {% endfor %}
    </tbody>
</table>
