{% extends "base.html" %}
{% load staticfiles %}

{% block title %} 
    About {{ SITE_NAME }} 
{% endblock %}

{% block content %}
    
    <div class="page-header">
        <h1>About {{ SITE_NAME }}</h1>
    </div>
    
    <p>
        This website is run by Simon Greenhill in the
        <a href="http://chl.anu.edu.au/">School of Culture, History and Language</a> and 
        <a href="http://asiapacific.anu.edu.au/">College of Asia and the Pacific</a> at the 
        <a href="http://anu.edu.au">Australian National University</a>.
    </p>
    
    <p>
        Funding for this project was provided by an <a href="http://www.arc.gov.au/">Australian 
        Research Council</a> &laquo;DECRA&raquo; Discovery Grant 
        <em>Discovering Trans-New Guinea: Revealing the prehistory of New Guinea</em>
        (#DE120101954) to Simon Greenhill.
    </p>
    
    
    <h2>Colophon &para;</h2>
    
    <p>{{ SITE_NAME }} has made great use of the wonderful open-source
    web-development ecosystem. Key technologies that have enabled this website
    are:
    </p>
    
    <table>
        <tr>
            <td class="row">
                <a href="http://www.unicode.org/">
                    <img src="{% static "img/unicode.png" %}" width="100px" height="100px" alt="Unicode&reg;." title="Unicode&reg;." />
                </a>
            </td>
            <td>All data are encoded according to the Unicode&reg; Standard.
            </td>
        </tr>
        <tr>
            <td class="row">
                <a href="http://www.djangoproject.com/">
                    <img src="{% static "img/django.gif" %}" width="100px" alt="Powered by Django." title="Powered by Django." />
                </a>
            </td>
            <td>Django is a high-level Python Web framework that encourages rapid
                development and clean, pragmatic design.
            </td>
        </tr>
        
        <tr>
            <td style="text-align: center;">
                <a href="http://twitter.github.com/bootstrap/">
                    <img src="{% static "img/bootstrap.png" %}" width="100px" alt="Bootstrap, from Twitter." title="Bootstrap, from Twitter." />
                </a>
            </td>
            <td>Bootstrap, from Twitter. Simple and flexible HTML, CSS, and Javascript for popular user 
            interface components and interactions.
            </td>
        </tr>
        
        <tr>
            <td>
                <a href="http://jquery.com/">
                    <img src="{% static "img/jquery.png" %}" width="100px" alt="jQuery." title="jQuery." />
                </a>
            </td>
            <td>The jQuery Javascript library.</td>
        </tr>
        <tr>
            <td>
                <a href="http://leafletjs.com/">
                    <img src="{% static "img/leaflet.png" %}" width="100px" alt="Leaflet" title="Leaflet." />
                </a>
            </td>
            <td>The Leaflet Open-Source JavaScript Library for Mobile-Friendly Interactive Maps</td>
        </tr>
        <tr>
            <td>
                <a href="http://www.postgresql.org/">
                    <img src="{% static "img/postgresql.gif" %}" width="100px" alt="PostgreSQL." title="PostgreSQL." />
                </a>
            </td>
            <td>The PostgreSQL open-source relational database engine.</td>
        </tr>
        <tr>
            <td>
                <a href="http://www.sqlite.org/">
                    <img src="{% static "img/sqlite.gif" %}" width="100px" alt="SQLite." title="SQLite." />
                </a>
            </td>
            <td>The SQLite open-source relational database engine.</td>
        </tr>
    </table>
    

{% endblock %}