{% extends "base.html" %}
{% load staticfiles %}

{% block title %} {{ SITE_NAME }} {% endblock %}

{% block content %}
    
    <div class="page-header">
        <h1>{{ SITE_NAME }}</h1> 
    </div>
    
    <div class="span8">
        <div class="map">
            <img src="{% static "img/map-600.png" %}" width="600" height="304" class="img-rounded" alt="Map of New Guinea" />
        </div>
        
        <div class="alert alert-block">
          <h4>Warning!</h4> 
          <p>This website is under active development. </p>
          <p>Please contact <a href="mailto:simon.greenhill@anu.edu.au">Simon Greenhill</a> for more information.</p>
        </div>

        <p class="lead">
            Welcome to {{ SITE_NAME }}.
        </p>
        
        <p>
            {{ SITE_NAME }} is a database of the Trans-New Guinea language family and
            friends. The Trans-New Guinea language family currently occupies most of 
            the interior of New Guinea. This family is possibly the third largest in 
            the world with 400 languages and is tentatively thought to have originated 
            with root-crop agriculture around 10,000 years ago. However, vanishingly little 
            is known about this family’s history. 
        </p>
        <p>
            This project aims to reveal the prehistory of New Guinea using the
            linguistic comparative method combined with novel
            computational phylogenetic methods. 
        </p>
        <p>
            This website is run by Simon Greenhill in the
            <a href="http://chl.anu.edu.au/">School of Culture, History and Language</a> and 
            <a href="http://asiapacific.anu.edu.au/">College of Asia and the Pacific</a> at the 
            <a href="http://anu.edu.au">Australian National University</a>.
        </p>
    
        <p>
            Funding for this project was provided by an <a href="http://www.arc.gov.au/">Australian 
            Research Council</a> &laquo;DECRA&raquo; Discovery Grant 
            <em>Discovering Trans-New Guinea: Revealing the prehistory of New Guinea</em>
            (#DE120101954) to Simon Greenhill.
        </p>
        
        <h2>News: </h2>
    </div>

{% endblock %}
