{% extends "base.html" %}
{% load cache %}
{% load staticfiles %}

{% block title %} {{ site.name }} {% endblock %}

{% block content %}
    

    <div class="page-header">
        <h1>Welcome to {{ SITE_NAME }}</h1> 
    </div>
    
    <p>
        Welcome to {{ SITE_NAME }}, a {{ SITE_DESCRIPTION }}.
        
        -- <a href="http://simon.net.nz/Simon Greenhill
    </p>
    
    <div class="map">
        <img src="{% static "img/map-600.png" %}" width="600px" class="img-rounded" />
        <p class="caption">
    </div>

{% endblock %}
