{% extends "base.html" %}
{% load staticfiles %}

{% block title %} {{ SITE_NAME }} {% endblock %}

{% block content %}
    
    <div class="page-header">
        <h1>Welcome to {{ SITE_NAME }}</h1> 
    </div>
    
    <p class="lead">
        Welcome to {{ SITE_NAME }}, a {{ SITE_DESCRIPTION }}.
    </p>
    
    <div class="alert alert-block">
      <h4>Warning!</h4> 
      <p>This website is under active development. </p>
      <p>Please contact <a href="mailto:simon.greenhill@anu.edu.au">Simon Greenhill</a> for more information.</p>
    </div>
    
    <p>
        {{ SITE_NAME }} is a database of the Trans-New Guinea language family and
        friends. The Trans-New Guinea language family currently occupies most of 
        the interior of New Guinea. This family is possibly the third largest in 
        the world with 400 languages and is tentatively thought to have originated 
        with root-crop agriculture around 10,000 years ago. However, vanishingly little 
        is known about this family’s history. 
    </p>
    <p>
        This project aims to reveal the prehistory of New Guinea using the
        linguistic comparative method combined with novel
        computational phylogenetic methods. 
    </p>
    
    <div class="map">
        <img src="{% static "img/map-600.png" %}" width="600" height="304" class="img-rounded" alt="Map of New Guinea" />
        <p class="caption">
    </div>

{% endblock %}
