{% load staticfiles %}
<form action="/entry/{{ task.id }}" method="post" class="form-inline">
    {% csrf_token %}
    {{ formset.management_form }}
    <table id="entryform" class="table table-bordered table-condensed">
        <!-- header -->
        {% for form in formset %}
            {% if forloop.first %}
                <thead>
                    <tr>
                        <th>
                            {{ form.language.label_tag }}
                            <a class="add-another btn btn-mini btn-success" href="{% url "admin:core_language_add" %}" id="add_id_language" onclick="return showAddAnotherPopup(this);"> <i class="icon-plus"></i></a>
                        </th>
                        <th>
                            {{ form.source.label_tag }}
                            <a class="add-another btn btn-mini btn-success" href="{% url "admin:core_source_add" %}" id="add_id_source" onclick="return showAddAnotherPopup(this);"> <i class="icon-plus"></i></a>
                        </th>
                        <th>
                            {{ form.word.label_tag }}
                            <a class="add-another btn btn-mini btn-success" href="{% url "admin:lexicon_word_add" %}" id="add_id_word" onclick="return showAddAnotherPopup(this);"> <i class="icon-plus"></i></a>
                        </th>
                        <th>
                            {{ form.entry.label_tag }}
                        </th>
                        <th>
                            {{ form.annotation.label_tag }}
                        </th>
                    </tr>
                </thead>
            {% endif %}
        {% endfor %}
        <tbody>
            {% for form in formset %}
            <tr>
                {% for field in form %}
                    <td {% if field.errors %}class="error"{% endif %}>
                        {{ field }}
                        {% if field.errors %}
                            <i class="tip icon-exclamation-sign" 
                                data-toggle="tooltip" 
                                data-placement="top" 
                                data-container="td"
                                title="
                                {% for error in field.errors %}
                                    {{ error|escape }} 
                                {% endfor %}">
                            </i>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-block btn-primary"><i class="icon-ok"></i> Save </button>
</form>


