<form action="/entry/{{ task.id }}" method="post" class="form-inline">
    {% csrf_token %}
    
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>
                    {{ form.language.label_tag }}
                </th>
                <th>
                    {{ form.source.label_tag }}
                </th>
                <th>
                    {{ form.word.label_tag }}
                </th>
                <th>
                    {{ form.entry.label_tag }}
                </th>
                <th>
                    {{ form.annotation.label_tag }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for field in form %}
                    <td {% if field.errors %}class="error"{% endif %}>
                        {{ field }}
                            
                        {% if field.errors %}
                            <i class="tip icon-exclamation-sign" 
                                data-toggle="tooltip" 
                                data-placement="top" 
                                data-container="td"
                                title="
                                {% for error in field.errors %}
                                    {{ error|escape }} 
                                {% endfor %}">
                            </i>
                        {% endif %}

                        
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-block btn-primary"><i class="icon-ok"></i> Save </button>
</form>


