{% extends "maps/map.html" %}
{% load staticfiles %}

{% block title %} {{ SITE_NAME }} Languages: {% endblock %}

{% block pageheader %}Map of Languages{% endblock %}

{% block records %}
    $.getJSON('/api/v1/languagemap/?format=json', function(data){
        var markers = [];
        $.each(data.objects, function(i) {
            rec = data.objects[i];
            var m = L.marker([rec.latitude, rec.longitude], {icon: p, clickable: true}).bindLabel(rec.label, {noHide: true}).addTo(map);
            markers.push(m);
            oms.addMarker(m);
        });
    });
{% endblock %}