{% extends "base.html" %}

{% block title %} Languages: {% endblock %}

{% block content %}

    {% if languages %}
        <table class="table-striped table-condensed">
            <thead>
                <tr>
                  <th><a href="./?order=family">Family</a></th>
                  <th><a href="./?order=language">Language</a></th>
                  <th><a href="./?order=isocode">ISO-Code</a></th>
                </tr>
            </thead>
            
        {% for language in languages %}
            <tr>
                <td>
                    {% for family in language.family.all %}
                        <a href="{% url family-detail family.slug %}" title="Details for {{ family.family }}">{{ family.family }} </a>
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url language-detail language.slug %}" title="Details for {{ language.language }}">{{ language.language }} </a>
                </td>
                <td>
                    <a href="{% url iso-lookup language.isocode %}" title="Details for {{ language.language }}">{{ language.isocode }} </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No languages are available.</p>
    {% endif %}

{% endblock %}