{% extends "base.html" %}

{% block title %} {{ family.family }} {% endblock %}

{% block content %}
    <h1>{{ family.family }}</h1>
    
    {% if languages %}
        <table class="table-striped table-condensed">
            <thead>
                <tr>
                    <th><a href="./?order=family">Language</a></th>
                    <th><a href="./?order=isocode">ISO</a></th>
                </tr>
            </thead>
        {% for language in languages %}
            <tr>
                <td>
                    <a href="{{ language.get_absolute_url }}" title="Details for {{ language.language }}">{{ language.language }} </a>
                </td>
                <td>
                    <a href="{% url iso-lookup language.isocode %}" title="Details for {{ language.language }}">{{ language.isocode }} </a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No languages are available.</p>
    {% endif %}
    
{% endblock %}