{% extends "base.html" %}
{% load staticfiles %}
{% load nvd3_tags %}

{% block title %} {{ SITE_NAME }} Statistics {% endblock %}

{% block head %}
    <link media="all" href="{% static "nvd3/nv.d3.min.css" %}" type="text/css" rel="stylesheet" />
    <script src="{% static "nvd3/d3.min.js" %}" type="text/javascript"></script>
    <script src="{% static "nvd3/nv.d3.min.js" %}" type="text/javascript"></script>
    
    {% for chart in charts %}
        {% load_chart chart.type chart.data chart.id chart.extra %}
    {% endfor %}

{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Statistics for {{ SITE_NAME }}</h1>
    </div>
    
    
    {% for chart in charts %}
        <div class="span6">
            <h2>{{ chart.label }}</h2>
        
            {% include_container chart.id 200 600 %}
        </div>
    {% endfor %}
    
{% endblock %}